.search {
  display: flex;
  align-items: center;
  padding: 26px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
    padding: 10px;
    color: #f79237;
  }
}

.search-form {
  display: flex;

  &__input {
    outline: none;
    display: block;
    width: 240px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-right: none;
    margin: 0 0 0 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  &__btn {
    outline: none;
    border: 1px solid #d9d9d9;
    border-left: none;
    background: #fff;
  }
}
