.user-info {
  background-color: #fff;
  padding: 20px;

  &__title {
    font-size: 36px;
    color: #333;
  }

  &__nav {
    color: #a9a99f;
    font-size: 22px;
  }

  &__link {
    text-decoration: none;
    color: #f79237;
    margin-left: 5px;

    &_active {
      color: #a9a99f;
      text-decoration: none;
      margin-left: 5px;
    }
  }

}